body{background-color: #0d0d0d; padding: 0; margin: 0; color: #ffffff;}
body li{list-style: none;}
body a{text-decoration: none; color: #ffffff;}
.clearer{clear:both;}
.header{background: #8C1010; height: 50px; width: 100%;}
.headerMenu li {float: left; list-style: none; margin-left: 20px; font-size: 25px; line-height: 50px;}

#cautare{width: auto; height: 100px; margin: 0 auto; padding-left: 20px;}
#cautare li {float: left; height: 40px; padding-left: 20px;}
#cautare label{font-size: 34px; color: #ffffff;}
.cautare1 {width:auto;}
.cautare2 {width:auto;}
.cautare3 {width:auto;}
.cautare4 {width:auto;}

.dateInput{width: 110px; height: 35px; background: url('../images/calendar.png') no-repeat; background-color: #f8f8f8;
			border: 1px solid #bbb;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75); padding: 0;padding-left: 40px;}
    
.restaurante{width: 500px; height: 100px; background-color: green;}